.body{
    width: 100%;
    height: 100vh;
    background: #ffffff;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    overflow: hidden;
}

.perspective-container{
    width: 100%;
    height: 100%;
    perspective: 12px;
    /* background-color: #ffffff; */
}

#flash-img{
    position: absolute;
    display: none;
    /* transform:scale(15); */
    /* filter: sepia(1) hue-rotate(200deg) saturate(0); */
    filter: brightness(0);
    z-index: 2;
}

.layer {
    position: absolute;
    
}

.layer img {
    display: block;
    min-width: 100%;
    max-height: 100vh;
    min-height: 100vh;
    object-fit: cover;
}

/* Different depths for each layer */
.layer1 {
    z-index: 5;
}

.layer2 {
    z-index: 4;
}

.layer3 {
    z-index: 3;
}

.layer4 {
    z-index: 2;
}

.layer5 {
    z-index: 1;
}

.layer1 img {
    transform: scale(6.9);

}

.layer3 img {

    transform: scale(13);
}

.layer5 img {

    transform: scale(35);
}

